{% extends 'blog_base.html' %}
{% load staticfiles %}
{% block title %}

{% ifnotequal  search  None %}
       <section id="page-header">
   	<div class="row current-cat">
   		<div class="col-full">
   			<h1>{{ search }}</h1>
   		</div>
   	</div>
   </section>
    {% endifnotequal %}
   <!-- masonry
   ================================================== -->
   <section id="bricks">

   	<div class="row masonry">

   		<!-- brick-wrapper -->
         <div class="bricks-wrapper">

         	<div class="grid-sizer"></div>

         	<div class="brick entry featured-grid animate-this">
         		<div class="entry-content">
         			<div id="featured-post-slider" class="flexslider">
			   			<ul class="slides">
                            {% for banner in blog_banner %}
				   			<li>
				   				<div class="featured-post-slide">
						   			<div class="post-background" style="background-image:url({{ MEDIA_URL }}{{ banner.image }});"></div>
								   	<div class="overlay"></div>
								   	<div class="post-content">
								   		<ul class="entry-meta">
												<li>{{ banner.author }}</li>
											</ul>
{#								   		<h1 class="slide-title"><a href="{% url 'blog:blog' %}" title=""></a></h1>#}
								   		<h1 class="slide-title">{{ banner.title }}</h1>
								   	</div>
				   				</div>
				   			</li> <!-- /slide -->
                            {% endfor %}
				   		</ul> <!-- end slides -->
				   	</div> <!-- end featured-post-slider -->        			
         		</div> <!-- end entry content -->         		
         	</div>
                    {#   博客       #}
             {% for blog in all_blog.object_list %}
{#             {% for blog in all_blog %}#}
         	<article class="brick entry format-standard animate-this">

               <div class="entry-thumb">
                  <a href="{% url 'blog:blog_detail' blog.id %}" class="thumb-link">
	                  <img src="{% static '/images/thumbs/diagonal-building.jpg' %}" alt="building">
                  </a>
               </div>

               <div class="entry-text">
               	<div class="entry-header">

               		<div class="entry-meta">
               			<span class="cat-links">
               				<a href="{% url 'blog:category' %}">{{ blog.blog_type }}</a>
               				<a href="">{{ blog.author }}</a>
               			</span>
               		</div>

               		<h1 class="entry-title"><a href="{% url 'blog:blog_detail' blog.id %}">{{ blog.title }}</a></h1>

               	</div>
						<div class="entry-excerpt">{{ blog.content|truncatechars:"100" }}</div>
               </div>

        		</article> <!-- end article -->
            {% endfor %}
         </div> <!-- end brick-wrapper -->

   	</div> <!-- end row -->

   	<div class="row">
   		<nav class="pagination">
        {% if all_blog.has_previous %}
             <a href="?{{ all_blog.previous_page_number.querystring }}"  class="page-numbers next">Prev</a>
            {% endif %}
            {% for page in all_blog.pages %}
                    {% if page %}
                        {% ifequal page all_blog.number %}
                            <span class="page-numbers current">{{ page }}</span>
                        {% else %}
                            <a href="?{{ page.querystring }}" class="page-numbers">{{ page }}</a>
                        {% endifequal %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
                {% if all_blog.has_next %}
                    <a href="?{{ all_blog.next_page_number.querystring }}" class="page-numbers next">Next</a>
                {% endif %}
	      </nav>
   	</div>
   </section> <!-- end bricks -->
{% endblock %}
