{% extends 'blog_base.html' %}
{% load mytag %}
{% load staticfiles %}
{% block title %}


   <!-- page header
   ================================================== -->
   <section id="page-header">
   	<div class="row current-cat">
   		<div class="col-full">
            {% ifequal name None %}
   			<h1>keyword: {{ keyword }}</h1>
                {% else %}
   			<h1>Category: {{ name }}</h1>

            {% endifequal %}
   		</div>   		
   	</div>
   </section>

   
   <!-- masonry
   ================================================== -->
   <section id="bricks" class="with-top-sep">

   	<div class="row masonry">

   		<!-- brick-wrapper -->
         <div class="bricks-wrapper">

         	<div class="grid-sizer"></div>
                        {# 用循环到处选中分类的博客           #}
            {% for blog in all_blog.object_list %}
                {% ifnotequal blog.image|length None %}

         	<article class="brick entry format-standard animate-this">
               <div class="entry-thumb">
                  <a href="{% url 'blog:blog_detail' blog.id %}" class="thumb-link">
	                                                 {#              优先级：封面图->文章图->默认图          #}
                      {% if blog.image|length != 0 %}
                                                {#           封面图               #}
                                        <img src="{{ MEDIA_URL }}{{ blog.image }}" alt="building" >

                        {% elif blog.content|image_url != None %}
                                                {#              文章图                   #}
                                        <img src="{{ blog.content|image_url }}"  alt="building" >
                          {% else %}
                                    {#                  默认图                              #}
                          <img src="{% static '/images/thumbs/wall-clock.jpg' %}" alt="building">
                      {% endif %}
                  </a>
               </div>
                                          {% else %}
                {% endifnotequal %}

               <div class="entry-text">
               	<div class="entry-header">

               		<div class="entry-meta">
               			<span class="cat-links">
               				<a href="#">{{ blog.created_time }}</a>
               				<a href="{% url 'blog:blog' %}">{{ blog.blog_type }}</a>
               			</span>			
               		</div>

               		<h1 class="entry-title"><a href="{% url 'blog:blog_detail' blog.id %}">{{ blog.title }}</a></h1>
               		
               	</div>
						<div class="entry-excerpt">{{ blog.content|re_content }}</div>
               </div>

        		</article>
             {% endfor %}<!-- end article -->
{##}


         </div> <!-- end brick-wrapper --> 

   	</div> <!-- end row -->
                        {#            分页功能#}
   	<div class="row">
   		<nav class="pagination">
        {% if all_blog.has_previous %}
             <a href="?{{ all_blog.previous_page_number.querystring }}"  class="page-numbers next">Prev</a>
            {% endif %}
            {% for page in all_blog.pages %}
                    {% if page %}
                        {% ifequal page all_blog.number %}
                            <span class="page-numbers current">{{ page }}</span>
                        {% else %}
                            <a href="?{{ page.querystring }}" class="page-numbers">{{ page }}</a>
                        {% endifequal %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
                {% if all_blog.has_next %}
                    <a href="?{{ all_blog.next_page_number.querystring }}" class="page-numbers next">Next</a>
                {% endif %}
	      </nav>
   	</div>


   </section> <!-- bricks -->
   {% endblock %}
