{% extends 'blog_base.html' %}
{% load staticfiles %}
{% block title %}


   <!-- page header
   ================================================== -->
   <section id="page-header">
   	<div class="row current-cat">
   		<div class="col-full">
   			<h1>Category: {{ name }}</h1>
   		</div>   		
   	</div>
   </section>

   
   <!-- masonry
   ================================================== -->
   <section id="bricks" class="with-top-sep">

   	<div class="row masonry">

   		<!-- brick-wrapper -->
         <div class="bricks-wrapper">

         	<div class="grid-sizer"></div>
            {% for category in blog_category.object_list %}

         	<article class="brick entry format-standard animate-this">

               <div class="entry-thumb">
                  <a href="{% url 'blog:blog_detail' category.id %}" class="thumb-link">
	                  <img src="{{ MEDIA_URL }}{{ category.image }}" alt="building">
                  </a>
               </div>

               <div class="entry-text">
               	<div class="entry-header">

               		<div class="entry-meta">
               			<span class="cat-links">
               				<a href="#">{{ category.created_time }}</a>
               				<a href="{% url 'blog:category' blog.blog_type_id %}">{{ category.blog_type }}</a>
               			</span>			
               		</div>

               		<h1 class="entry-title"><a href="{% url 'blog:blog_detail' category.id %}">{{ category.title }}</a></h1>
               		
               	</div>
						<div class="entry-excerpt">{{ category.content|truncatechars:"100" }}</div>
               </div>

        		</article>
             {% endfor %}<!-- end article -->
{##}


         </div> <!-- end brick-wrapper --> 

   	</div> <!-- end row -->
                        {#            分页功能#}
   	<div class="row">
   		<nav class="pagination">
        {% if blog_category.has_previous %}
             <a href="?{{ blog_category.previous_page_number.querystring }}"  class="page-numbers next">Prev</a>
            {% endif %}
            {% for page in blog_category.pages %}
                    {% if page %}
                        {% ifequal page blog_category.number %}
                            <span class="page-numbers current">{{ page }}</span>
                        {% else %}
                            <a href="?{{ page.querystring }}" class="page-numbers">{{ page }}</a>
                        {% endifequal %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
                {% if blog_category.has_next %}
                    <a href="?{{ blog_category.next_page_number.querystring }}" class="page-numbers next">Next</a>
                {% endif %}
	      </nav>
   	</div>


   </section> <!-- bricks -->
   {% endblock %}
