{% extends 'home_base.html' %}
{% load staticfiles %}
{% load mytag %}
{% block content %}
                                            {#            轮播图#}
<section class="row featured-post-carousel">
    {% for banner in all_banner %}
    <div class="item post">
        <img src="{{ MEDIA_URL }}{{ banner.image }}" alt="" class="img-responsive main-bg">
        <div class="post-content">
            <div class="container">
                <h5 class="post-meta"><i>in</i>
                    <a href="#">{{ banner.blog_type }}</a> | <a href="#">{{ banner.add_time }}</a></h5>
                <h2 class="post-title"><a href="{% url 'blog:blog_detail' 5 %}">{{ banner.title }}</a></h2>
                <a href="{{ banner.url }}" class="btn btn-primary"><span>read more</span></a>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

{#                                                    主页博客div#}

<section class="row content-wrap">
                        {% for blog in all_blog %}

    <div class="container">

        <div class="row" id="post-masonry">
            <!--Blog Post-->
            <article class="col-sm-4 post post-masonry post-format-image">
                <div class="post-wrapper row">
                    <div class="featured-content row">
{#                        <a href="{% url 'blog:blog_detail' 5 %}"><img src="{% static 'images/posts/masonry/1.jpg' %}" alt="" class="img-responsive"></a>#}
                        <a href="{% url 'blog:blog_detail' blog.id %}">
                            {% if blog.image|length != 0 %}
                            <img src="{{ MEDIA_URL }}{{ blog.image }}" alt="" class="img-responsive">
                            {% elif blog.content|image_url != None %}
                            <img src="{{ blog.content|image_url }}"  alt="" class="img-responsive">
                            {% else %}
                                <img src="{% static 'images/posts/masonry/1.jpg' %}"  alt="" class="img-responsive"></a>
                        {% endif %}
                    </div>
                    <div class="post-excerpt row">
                        <h5 class="post-meta">
                            <a href="#" class="date">{{ blog.last_updated_time }}</a>
                            <span class="post-author"><i>by</i><a href="{% url 'blog:category' %}">{{ blog.author }}</a></span>
                        </h5>
                        <h3 class="post-title"><a href="{% url 'blog:blog_detail' blog.id %}">{{ blog.title }}</a></h3>
                        <p>{{ blog.content|re_content|truncatewords:"1" }}</p>
                        <footer class="row">
                            <h5 class="taxonomy"><i>in</i> <a href="#">image</a>,
                                <a href="#">{{ blog.blog_type }}</a></h5>
                            <div class="response-count">
                                <img src="{% static '/images/comment-icon-gray.png' %}" alt="">{{ blog.response_count }}</div>
                        </footer>
                    </div>
                </div>
            </article>
                                        {% endfor %}
                                <!--Author Widget-->
<aside class="col-sm-4 widget-author widget widget-with-posts post">
    <div class="widget-author-inner row">
        <div class="author-avatar row"><a href="{% url 'about' %}"><img src="{{ MEDIA_URL }}{{ user.image }}" alt="" class="img-circle"></a></div>
        <a href="{% url 'about' %}"><h2 class="author-name">{{ user.first_name }} {{ user.last_name }}</h2></a>
        <h5 class="author-title">关于我</h5>
        <p>{{ user.text1 }}</p>
        <a href="{% url 'about' %}" class="know-more">know more</a>
    </div>
    <ul class="nav social-nav">
        <li><a href="#"><i class="fa fa-qq"></i></a></li>
        <li><a href="#"><i class="fa fa-wechat"></i></a></li>
        <li><a href="#"><i class="fa fa-weibo"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
    </ul>
</aside>
{#                            {% include 'base_widget.html' %}#}
 <!--Twitter Widget-->            {% for card in cards %}

<aside class="col-sm-4 widget widget-twitter widget-with-posts post">

    <div class="widget-twitter-inner">
        <h5 class="widget-meta"><i class="fa fa-twitter"></i>{{ card.card_name }}</h5>
        <div class="row tweet-texts">
{#            <p>Check out new post on my blog</p>#}
            <p><a href="{{ card.card_url }}">{{ card.card_title }}</a></p>
        </div>
        <div class="row timepast">1 day ago</div>
    </div>

</aside>
    {% endfor %}

        </div>
    </div>
</section>

{% endblock %}